extends ./plantilla.jade
block contenido
	div(class="panel panel-default")
		div(class="panel-heading") Crear Grupo
		div(class="panel-body")
			form(action='/crearGrupo', method='POST')
				div(class="form-group")
					lavel(for="inputNombreGrupo") Grupo:
					input(type="text" class="form-control" id="inputNombreGrupo" name="inputNombreGrupo" placeholder="Nombre del grupo")
				button(type="submit" class="btn btn-default") Guardar
	div(class="panel panel-default")
		div(class="panel-heading") Buscar Resultados
		div(class="panel-body")
			form(action='/verResultado', method='POST')
				div(class="form-group")
					lavel(for="inputIdAlumno") Alumno:
					input(type="text" class="form-control" name='inputIdAlumno' id="inputIdAlumno" placeholder="ID del Alumno")
				button(type="submit" class="btn btn-default") Buscar