extends ./plantilla.jade
block contenido
	h1(class='h1 text-center') Grupo Creado
	image(src='https://maxcdn.icons8.com/Share/icon/Hands//thumb_up1600.png' class='img-responsive' alt='Responsive image')